<!DOCTYPE html>
<html lang="en-US">
<head>
    {{- partial "head.html" . -}}
</head>
<body class="theme-{{ .Site.Params.themeVariant }} layout-{{ .Site.Params.layout }}">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5T2FRHBB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{- partial "header.html" . -}}
    <main>
        {{ if not .IsHome }}{{- partial "breadcrumbs.html" . -}}{{ end }}
        {{ block "main" . }}{{ end }}
    </main>
    {{- partial "footer.html" . -}}
</body>
</html>